<div>
  <h3>5 Star Reviews</h3>
  <div class="reviews">
    <button mat-button (click)="sliderGoTo(activeSlide - 1)">
      <app-arrow position="left"></app-arrow>
    </button>   
    <div class='has-slider' [ngStyle]="visibleContainerStyle">
      <div class='slider' id='slider' (pan)="sliderPan($event)" [ngStyle]="sliderMainContainerStyle">
        <div class='slider-panel' [ngStyle]="sliderPanelstyle" *ngFor="let review of reviews ">
          <div>
            <div class="quote">"{{review.quote}}"</div>
            <div class="name">{{review.reviewerName}}</div>
            <div class="stars">
              <mat-icon *ngFor="let star of stars">star</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button mat-button (click)="sliderGoTo(activeSlide + 1)">
      <app-arrow></app-arrow>
    </button>   
  </div>
</div>