<div class="main">
  <app-beauti-logo></app-beauti-logo>
  <div>
    <div class="social">
      <img src="assets/insta.png" alt="" />
    </div>
    <div>
      66A Brixton Road, London, SW9 6BP <br> Telephone: 020 7820 1177 <br> Email:
      info@beau-ti.com
    </div>
    <div>
      OPENING TIMES <br> Mon-Fri 12pm-8pm <br> Saturday 9am-5pm <br> Sunday Closed
    </div>
  </div>

</div>
<div class="final">
  © 2019 BEAUTI. Website design by Elsa Benoldi, website development by Zozor
  Consultancy. – Privacy & Terms | Cookie Policy
</div>
