<div class="container">
  <h3>About</h3>
  <div class="beauti">
    <h4>
      Beauti
    </h4>
    <h5>- your local skin and beauty specialist, Italian standard.</h5>
  </div>

  <div>
    <p>
      Beauti Skin Clinic is founded by Cinzia Campigotto, professional
      aesthetician in 2017. Cinzia believes in providing premium but affordable
      skin treatments and products, as well as creating a warm, clean and
      friendly environment for every customer.
    </p>
    <p>
      The clinic specialises in non-surgical and advanced skin treatments for
      problematic skin such as acne, rosacea, pigmentation and ageing. Our most
      popular treatments include Aqua 3 Hydrotherapy Facial, Skin Peels, Radio
      Frequency Skin Tightening, Plasma Face Lift, Micro-Needling with Dermapen,
      as well as IPL Laser Hair Removal and Skin Imperfection Removal
      (Electrolysis).
    </p>
    <p>
      Our waxing is also famous in the area and has received many 5-star online
      reviews. Thanks to our quick and painless technique, we see happy
      customers returning all the time.
    </p>
    <p>
      We only use top medical-grade skincare products from trusted brands to
      help our customers achieve the best results possible. To continue your
      journey at home, we stock products from AlumierMD, Sothys and multi-award
      winning anti-aging collagen drink Skinade®, which you can purchase in
      store.
    </p>
  </div>

  <h4>
    The Founder
  </h4>
  <h5>
    <span>Cinzia Campigotto</span> <br />
    <span> <i>Aesthetician</i> </span>
  </h5>

  <div>
    <p>
      With 20 years of experience in the advanced skin and beauty industry,
      Cinzia maintains an excellent reputation with a wide and loyal clientele.
      She is specialised in providing skin consultations for bespoke treatment
      plans. If you want to make an appointment with Cinzia, please select Skin
      Consultation on our
      <a
        href="https://widget.treatwell.co.uk/place/beauti-skin-clinic/"
        target="_blank"
        >Booking page</a
      >.
    </p>
  </div>
</div>

<ngx-slick-carousel
  id="carousel"
  #slickModal="slick-carousel"
  [config]="slideConfig"
>
  <div ngxSlickItem *ngFor="let slide of slides" class="slide">
    <img src="{{ slide.img }}" alt="" width="100%" />
  </div>
</ngx-slick-carousel>
