@import '../../scss/palette';

:host {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
  z-index: -13;

  @media (min-width: 1024px) {
    display: none;
  }

  &>div.main-menu {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all .2s;
    display: flex;
    justify-content: center;

    &.hidden {
      display: none;
    }

    ul {
      padding: 0;

      li {
        list-style-type: none;
        text-align: center;
        margin-bottom: 30px;

        a {
          &:hover {
            color: black;
          }
        }
      }
    }
  }

  .main-menu a,
  .submenu-title,
  .sub-title {
    text-transform: uppercase;
    color: $grey-black;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    line-height: 5rem;
    text-decoration: none;
    transition: color .2s;

    @media (max-width: 1023px) {
      font-size: 32px;
      line-height: 4.5rem;
    }
  }

  .submenu-title {
    text-align: center;
  }

  .sub-title {
    @media (max-width: 767px) {
      font-size: 20px;
      line-height: 40px;
    }

    @media (min-width: 768px) {
      font-size: 30px;
      line-height: 80px;
    }
  }

  .sub-menu {
    width: 100%;

    ul {
      padding: 0;

      li {
        list-style-type: none;
        text-transform: uppercase;
        font-size: 21px;
        line-height: 27px;
        font-weight: 300;

        a {
          text-decoration: none;
          color: black;
          font-family: lato, sans-serif;
        }
      }
    }

    .submenu-section {
      display: flex;
      flex-direction: column;
      height: 455px;
      overflow: hidden;
      flex-wrap: wrap;
      align-items: flex-end;
      width: 100%;

      >div {
        max-width: 290px;
      }
    }
  }
}