<div [class.sticky]="sticky">
  <div>
    <app-burger-menu [sticky]="sticky" (menuLinkOpen)="setMenuLink($event)"></app-burger-menu>
    <a href="">
      <app-beauti-logo [sticky]="sticky"></app-beauti-logo>
    </a>
    <ul class="menu-list">      
      <li><a href="">ABOUT US</a></li>    
      <li><a href="">TREATMENTS</a></li>
      <li><a href="">CONTACT</a></li>
    </ul>
    <button
      mat-flat-button
      color="primary"
      class="main-button"
    >
      Book now
    </button>

    <div class="mobile-menu"></div>
  </div>
</div>
<app-menu-link [active]="menuLinkOpen" [class.active]="menuLinkOpen"></app-menu-link>