<div>
  <h3>Treatments</h3>
  <mat-accordion [multi]="true">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
                    Skin Treatments
                </mat-panel-title>
        <mat-panel-description>
          <button (click)="openBooking($event)" mat-flat-button color="primary" class="main-button">
                        Book now
                    </button>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="sub">
        <!-- <mat-accordion> -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
                Advanced Skin Treatments
            </mat-panel-title>
            <mat-panel-description></mat-panel-description>
          </mat-expansion-panel-header>
          <div class="skin-treatment" *ngFor="let treatment of skinTreatments">
            <div class="title">
              <div>
                <span [innerHtml]="treatment.title"></span>
                <span [innerHTML]="treatment.treatment"></span>
              </div>

              <button (click)="openBooking($event)" mat-stroked-button color="primary" class="main-button">
                            Book now
                        </button>

            </div>
            <div class="description">{{ treatment.description }}</div>
            <div class="direction-column" *ngIf="treatment.orientation !== 'row'">
              <div class="options-key">
                <div *ngFor="let option of treatment.options">
                  {{ option.key }}
                </div>
              </div>

              <div class="options-value">
                <div *ngFor="let option of treatment.options">
                  {{ option.value }}
                </div>
              </div>
            </div>


            <div class="direction-row" *ngIf="treatment.orientation === 'row' && treatment.fullOptions !== 'true'">
                <div class="row" *ngFor="let option of treatment.options">
                    <div>{{ option.treatment }}</div>
                    <div>{{ option.options[1].value }}</div>
                </div>
            </div>
            <div class="direction-row" *ngIf="treatment.orientation === 'row' && treatment.fullOptions === 'true'">
                <div class="row" *ngFor="let option of treatment.options">
                    <div>{{ option.treatment }}</div>
                    <div *ngFor="let op of option.options">
                        <div>{{ op.key }}
                            <span>{{ op.value }}</span>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <!-- <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Skin Imperfection Removal
                        </mat-panel-title>
                        <mat-panel-description></mat-panel-description>
                    </mat-expansion-panel-header>
                    <div>
                        <div>
                            <div class="skin-treatment">
                                <div class="title">
                                    <div>
                                        <span>{{ skinImperfectionRemoval[0].title }}</span>
                                        <span
                      [innerHTML]="skinImperfectionRemoval[0].treatment"
                    ></span>
                                    </div>
                                    <button (click)="openBooking($event)"
                      mat-stroked-button
                      color="primary"
                      class="main-button"
                    >
                      Book now
                    </button>
                                </div>
                                <div class="description">
                                    {{ skinImperfectionRemoval[0].description }}
                                </div>
                                <div class="direction-column">
                                    <div class="options-key">
                                        <div
                      *ngFor="let option of skinImperfectionRemoval[0].options"
                    >
                                            {{ option.key }}
                                        </div>
                                    </div>

                                    <div class="options-value">
                                        <div
                      *ngFor="let option of skinImperfectionRemoval[0].options"
                    >
                                            {{ option.value }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel> -->
          <!-- </mat-accordion> -->
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
                    Classic Skin Treatments
                </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <!-- <div >
          <div
            class="waxing "
            *ngFor="let treatment of waxing"
          >
            <div class="direction-row" *ngFor="let option of treatment.options">
              <div class="header row"> 
                <div>{{option.treatment}}</div>
                <div>Single</div>
              </div>
              <div class="body row" *ngFor="let rowTreatment of option.options">
                  <div>{{rowTreatment.key}}</div>
                  <div>{{rowTreatment.value}}</div>
              </div>
            </div>
        </div>
      </div> -->
          <div class="sub">
            <div class="skin-treatment" *ngFor="let treatment of beautyFacial">
              <div class="title">
                <div>
                  <span>{{ treatment.title }}</span>
                  <span [innerHTML]="treatment.treatment"></span>
                </div>

                <button (click)="openBooking($event)" mat-stroked-button color="primary" class="main-button">
                                    Book now
                                </button>

              </div>
              <div class="description">{{ treatment.description }}</div>
              <div class="direction-column" *ngIf="treatment.orientation !== 'row'">
                <div class="options-key">
                  <div *ngFor="let option of treatment.options">
                    {{ option.key }}
                  </div>
                </div>

                <div class="options-value">
                  <div *ngFor="let option of treatment.options">
                    {{ option.value }}
                  </div>
                </div>
              </div>
              <div class="direction-row" *ngIf="treatment.orientation === 'row' && treatment.fullOptions !== 'true'">
                  <div class="row" *ngFor="let option of treatment.options">
                      <div>{{ option.treatment }}</div>
                      <div>{{ option.options[1].value }}</div>
                  </div>
              </div>
              <div class="direction-row" *ngIf="treatment.orientation === 'row' && treatment.fullOptions === 'true'">
                  <div class="row" *ngFor="let option of treatment.options">
                      <div>{{ option.treatment }}</div>
                      <div *ngFor="let op of option.options">
                          <div>{{ op.key }}
                              <span>{{ op.value }}</span>
                          </div>
                      </div>
                  </div>
              </div>




            </div>

          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
                            Skin Imperfection Removal
                        </mat-panel-title>
            <mat-panel-description></mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <div>
              <div class="skin-treatment">
                <div class="title">
                  <div>
                    <span>{{ skinImperfectionRemoval[0].title }}</span>
                    <span
                      [innerHTML]="skinImperfectionRemoval[0].treatment"
                    ></span>
                  </div>
                  <button (click)="openBooking($event)"
                      mat-stroked-button
                      color="primary"
                      class="main-button"
                    >
                      Book now
                    </button>
                </div>
                <div class="description">
                  {{ skinImperfectionRemoval[0].description }}
                </div>
                <div class="direction-column">
                  <div class="options-key">
                    <div
                      *ngFor="let option of skinImperfectionRemoval[0].options"
                    >
                      {{ option.key }}
                    </div>
                  </div>

                  <div class="options-value">
                    <div
                      *ngFor="let option of skinImperfectionRemoval[0].options"
                    >
                      {{ option.value }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
                    Waxing
                </mat-panel-title>
        <mat-panel-description>
          <button (click)="openBooking($event)" mat-flat-button color="primary" class="main-button">
                        Book now
                    </button>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <!-- <div >
          <div
            class="waxing "
            *ngFor="let treatment of waxing"
          >
            <div class="direction-row" *ngFor="let option of treatment.options">
              <div class="header row"> 
                <div>{{option.treatment}}</div>
                <div>Single</div>
              </div>
              <div class="body row" *ngFor="let rowTreatment of option.options">
                  <div>{{rowTreatment.key}}</div>
                  <div>{{rowTreatment.value}}</div>
              </div>
            </div>
        </div>
      </div> -->
      <div class="waxing">
        <div class="description">
          {{ waxing[0].description }}
        </div>
        <div class="left-col">
          <div class="direction-row" *ngFor="let option of leftCol">
            <div class="header row">
              <div>{{ option.treatment }}</div>
              <div>Single</div>
            </div>
            <div class="body row" *ngFor="let rowTreatment of option.options">
              <div>{{ rowTreatment.key }}</div>
              <div>{{ rowTreatment.value }}</div>
            </div>
          </div>
        </div>
        <div class="right-col">
          <div class="direction-row right-col" *ngFor="let option of rightCol">
            <div class="header row">
              <div>{{ option.treatment }}</div>
              <div>Single</div>
            </div>
            <div class="body row" *ngFor="let rowTreatment of option.options">
              <div>{{ rowTreatment.key }}</div>
              <div>{{ rowTreatment.value }}</div>
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
                    Hair Removal
                </mat-panel-title>
        <mat-panel-description>
          <button (click)="openBooking($event)" mat-flat-button color="primary" class="main-button">
                        Book now
                    </button>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div id="hair-removal">
        <!-- <mat-accordion> -->
        <mat-expansion-panel *ngFor="let mainTreat of hairRemoveLaser">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ mainTreat.treatmentName }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <div class="description">
              {{ mainTreat.description }}
            </div>
            <div *ngFor="let rowTreatment of mainTreat.options" class="treatment-table">
              <!-- small area main table -->
              <div class="header row">
                <div>{{ rowTreatment.treatmentName }}</div>
                <!-- small area Title name -->
                <div *ngFor="let rowOptions of rowTreatment.options[0].options">
                  {{ rowOptions.key }}
                </div>
              </div>
              <div class="body">
                <div *ngFor="let rowOptions of rowTreatment.options">
                  <div>
                    {{ rowOptions.treatmentName }}
                  </div>
                  <div *ngFor="let colOptions of rowOptions.options">
                    {{ colOptions.value }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel *ngFor="let mainTreat of hairRemoveElectro">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ mainTreat.treatmentName }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <div class="description">
              {{ mainTreat.description }}
            </div>
            <div class="direction-column" *ngIf="mainTreat.orientation !== 'row'">
              <div class="options-key">
                <div *ngFor="let option of mainTreat.options; row">
                  {{ option.key }}
                </div>
              </div>

              <div class="options-value">
                <div *ngFor="let option of mainTreat.options">
                  {{ option.value }}
                </div>
              </div>
            </div>

            <div class="direction-row" *ngIf="mainTreat.orientation === 'row' && mainTreat.fullOptions !== 'true'">
                <div class="row" *ngFor="let option of mainTreat.options">
                    <div>{{ option.treatment }}</div>
                    <div>{{ option.options[1].value }}</div>
                </div>
            </div>
            <div class="direction-row" *ngIf="mainTreat.orientation === 'row' && mainTreat.fullOptions === 'true'">
                <div class="row" *ngFor="let option of mainTreat.options">
                    <div>{{ option.treatment }}</div>
                    <div *ngFor="let op of option.options">
                        <div>{{ op.key }}
                            <span>{{ op.value }}</span>
                        </div>
                    </div>
                </div>
            </div>





          </div>
        </mat-expansion-panel>
        <!-- </mat-accordion> -->
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
                    Body
                </mat-panel-title>
        <mat-panel-description>
          <button (click)="openBooking($event)" mat-flat-button color="primary" class="main-button">
                        Book now
                    </button>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="sub">
        <!-- <mat-accordion> -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
                            Relaxing Massages
                        </mat-panel-title>
            <mat-panel-description></mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <div class="skin-treatment" *ngFor="let treatment of bodyRelaxingMassage">
              <div class="title">
                <div>
                  <span>{{ treatment.title }}</span>
                  <span [innerHTML]="treatment.treatment"></span>
                </div>

                <button (click)="openBooking($event)" mat-stroked-button color="primary" class="main-button">
                                    Book now
                                </button>

              </div>
              <div class="description">{{ treatment.description }}</div>
              <div class="direction-column" *ngIf="treatment.orientation !== 'row'">
                <div class="options-key">
                  <div *ngFor="let option of treatment.options">
                    {{ option.key }}
                  </div>
                </div>

                <div class="options-value">
                  <div *ngFor="let option of treatment.options">
                    {{ option.value }}
                  </div>
                </div>
              </div>

              <div class="direction-row" *ngIf="treatment.orientation === 'row' && treatment.fullOptions !== 'true'">
                  <div class="row" *ngFor="let option of treatment.options">
                      <div>{{ option.treatment }}</div>
                      <div>{{ option.options[1].value }}</div>
                  </div>
              </div>

              <div class="direction-row" *ngIf="treatment.orientation === 'row' && treatment.fullOptions === 'true'">
                  <div class="row" *ngFor="let option of treatment.options">
                      <div>{{ option.treatment }}</div>
                      <div *ngFor="let op of option.options">
                          <div>{{ op.key }}
                              <span>{{ op.value }}</span>
                          </div>
                      </div>
                  </div>
              </div>

            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
                            Body Contouring
                        </mat-panel-title>
            <mat-panel-description></mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <div class="skin-treatment" *ngFor="let treatment of bodyContouring">
              <div class="title">
                <div>
                  <span>{{ treatment.title }}</span>
                  <span [innerHTML]="treatment.treatment"></span>
                </div>

                <button (click)="openBooking($event)" mat-stroked-button color="primary" class="main-button">
                                    Book now
                                </button>

              </div>
              <div class="description">{{ treatment.description }}</div>
              <div class="direction-column" *ngIf="treatment.orientation !== 'row'">
                <div class="options-key">
                  <div *ngFor="let option of treatment.options">
                    {{ option.key }}
                  </div>
                </div>

                <div class="options-value">
                  <div *ngFor="let option of treatment.options">
                    {{ option.value }}
                  </div>
                </div>
              </div>
              <div class="direction-column" *ngIf="treatment.orientation !== 'row'">
                <div class="options-key">
                  <div *ngFor="let option of treatment.options_second">
                    {{ option.key }}
                  </div>
                </div>

                <div class="options-value">
                  <div *ngFor="let option of treatment.options_second">
                    {{ option.value }}
                  </div>
                </div>
              </div>

              <div class="direction-row" *ngIf="treatment.orientation === 'row' && treatment.fullOptions !== 'true'">
                  <div class="row" *ngFor="let option of treatment.options">
                      <div>{{ option.treatment }}</div>
                      <div>{{ option.options[1].value }}</div>
                  </div>
              </div>
              <div class="direction-row" *ngIf="treatment.orientation === 'row' && treatment.fullOptions === 'true'">
                  <div class="row" *ngFor="let option of treatment.options">
                      <div>{{ option.treatment }}</div>
                      <div *ngFor="let op of option.options">
                          <div>{{ op.key }}
                              <span>{{ op.value }}</span>
                          </div>
                      </div>
                  </div>
              </div>




            </div>
          </div>
        </mat-expansion-panel>
        <!-- </mat-accordion> -->
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
                    Nail Care
                </mat-panel-title>
        <mat-panel-description>
          <button (click)="openBooking($event)" mat-flat-button color="primary" class="main-button">
                        Book now
                    </button>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="sub">
        <!-- <mat-accordion> -->
        <div class="skin-treatment" *ngFor="let treatment of beautyNail">
          <div class="title">
            <div>
              <span>{{ treatment.title }}</span>
              <span [innerHTML]="treatment.treatment"></span>
            </div>

            <button (click)="openBooking($event)" mat-stroked-button color="primary" class="main-button">
                                    Book now
                                </button>

          </div>
          <div class="description">{{ treatment.description }}</div>
          <div class="direction-column" *ngIf="treatment.orientation !== 'row'">
            <div class="options-key">
              <div *ngFor="let option of treatment.options">
                {{ option.key }}
              </div>
            </div>

            <div class="options-value">
              <div *ngFor="let option of treatment.options">
                {{ option.value }}
              </div>
            </div>
          </div>
        </div>
        <!-- </mat-accordion> -->
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="book-treatment">
    <button (click)="openBooking($event)" mat-flat-button color="primary" class="main-button mobile">
            Book now
        </button>
  </div>
</div>