/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

html {
    background-color: rgb(97, 100, 98);
    background-color: white;
    min-height: 2000px;
}

* {
    margin: 0;
}

body {
    background-color: #4c4058;
}
