.main-button.mat-flat-button.mat-primary {
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 50px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    background-color: #C7CBD6;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
}